body {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif !important;
  color: #7b7481;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.base {
  border: 1px solid #e6e6e6;
  padding: 25px;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 260px;
  height: 470px;
  border-radius: 2rem;
  box-shadow: 0px 1rem 1.5rem #bababa;
  overflow: hidden;
}
#star {
  position: relative;
  left: 8rem;
}
img {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  box-shadow: 0 0.3rem 0.4rem #c2c2c2;
  transform: translateY(10%);
  transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
img:hover {
  transform: translateY(10%) scale(1.1);
}
.occupation {
  padding-top: 1.7rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #262626;
}
.price {
  font-size: 0.8rem;
  padding-top: 0.3rem;
}
.name {
  padding-top: 2.5rem;
  font-size: 1.2rem;
  color: #3a3a3a;
  font-weight: bold;
}
.location {
  padding-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  font-size: 0.7rem;
}
.description {
  font-size: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.25rem;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  white-space: normal;
  min-height: 3rem;
}
.buttons {
  padding-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cv,
.mo {
  width: 180px;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border-radius: 1rem;
  border: 2px #5296a5 solid;
}
.cv {
  background-color: white;
  color: #5296a5;
  transition-duration: 200ms;
  cursor: pointer;
}
.cv:hover {
  box-shadow: 0 0.3rem 0.4rem #c2c2c2;
  transition-duration: 200ms;
}
.mo {
  background-color: #5296a5;
  color: #f2f2f2;
  transition-duration: 200ms;
  cursor: pointer;
}
.mo:hover {
  box-shadow: 0 0.3rem 0.4rem #c2c2c2;
  transition-duration: 200ms;
}
.status {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
  align-items: center;
  font-size: 0.7rem;
}
.status i {
  font-size: 0.4rem;
}
